@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Trad:wght@100..400&display=swap");

:root {
  --body-bg: #1f1f1f;
  --white: #ffffff;
  --btn-text: #f6f6f6;
  --btn-bg: #b35c32;
  --menu-title-text: #f6f6f6;
  --footer-border-top: #d7d7d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  min-height: 810px;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  overflow: hidden;
}

.container nav a,
.container nav button {
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.container nav a img,
.container nav button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.container nav .title-on {
  color: var(--menu-title-text);
  scale: 1;
  transition: scale 1.2s;
}

.container nav .title-off {
  color: var(--menu-title-text);
  scale: 0;
  transition: scale 0.2s;
}

.container nav .formSection {
  width: 30px;
  height: auto;
  position: relative;
}

.container nav .formSection .disabled-searchbar {
  position: absolute;
  width: 0px;
  left: -800%;
  transition: 0.6s all;
  transition: width 0.6s all;
  border-color: transparent;
  background-color: transparent;
  padding: 4px;
  color: var(--btn-text);
  border-radius: 4px;
  font-size: 16px;
}

.container nav .formSection .enabled-searchbar {
  position: absolute;
  width: 160px;
  height: 25px;
  left: -800%;
  transition: width 1s;
  border: 1px solid white;
  background-color: transparent;
  padding: 4px;
  color: var(--btn-text);
  border-radius: 4px;
  font-size: 16px;
}

.container nav .formSection .enabled-searchbar::placeholder {
  color: var(--btn-text);
}

.container main {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container main .links {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 55px;
  top: 0px;
  left: 0px;
}

.container main .links .link {
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  color: var(--menu-title-text);
  transition: color 0.4s;

  &.active {
    color: var(--btn-bg);
    border-bottom: 1px solid var(--btn-bg);
    line-height: 17.36px;
    transition: color 0.4s;
  }
}

.container main .menu {
  width: 100%;
  min-height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 20px;
}

.container main .menu .menuItem {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    color: var(--btn-text);
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.container main .menu .menuItem .items {
  width: auto;
  height: auto;
  display: flex;
  gap: 35px;
  padding: 14px 0px;
  overflow: scroll;
}

.container main .menu .menuItem .items::-webkit-scrollbar {
  display: none;
}

.container main .menu .menuItem .items .item {
  min-width: 100px;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 4px 8px #000000;
  border: 1px solid grey;
  border-radius: 6px;

  .likeBtn {
    width: 10px;
    height: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .item-img {
    position: absolute;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    filter: drop-shadow(10px 4px 5px black);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    p {
      color: var(--btn-text);
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
}

.container footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.5px solid var(--footer-border-top);

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: var(--btn-text);
    font-family: "Libre Baskerville", serif;
    font-size: 10px;
    letter-spacing: 1px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 376px) {
  .container nav .formSection .disabled-searchbar {
    left: -750%;
  }

  .container nav .formSection .enabled-searchbar {
    left: -750%;
  }
}

@media screen and (max-width: 321px) {
  .container nav .formSection .disabled-searchbar {
    left: -650%;
  }

  .container nav .formSection .enabled-searchbar {
    left: -650%;
  }

  .container main .links {
    gap: 45px;
  }
}
